@tailwind base;
@tailwind components;
@tailwind utilities;

.Hello::before,
.AboutMe::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -35px;
  height: 2px;
  width: 30px;
  background: #f5ce69;
}

html {
  scroll-behavior: smooth;
}

textarea::-webkit-scrollbar {
  display: none;
}
.UnderLineEffect::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 12px;
  height: 1.7px;
  background: #333;
  width: 0;
  transition: width 0.1s linear;
}

.UnderLineEffect:hover::after {
  width: calc(100% - 24px);
  transition: width 0.1s linear;
}
