@tailwind base;
@tailwind components;
@tailwind utilities;

.Hello::before,
.AboutMe::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -35px;
  height: 2px;
  width: 30px;
  background: #f5ce69;
}

html {
  scroll-behavior: smooth;
}
